<div class="row">
    <div class="field-group">
        <label for="jql-filter">JQL Filter</label>
        <input type="text" class="text" name="jql-filter-{{rows}}" id="jql-filter-{{rows}}">
        <button class="aui-button aui-button-error" id="delete-{{rows}}">-</button>
    </div>
    <div class="field-group">
        <label for="jira:issue_created">Issue created</label>
        <aui-toggle id="jira:issue_created-{{rows}}" name="event-a-{{rows}}" value="jira:issue_created" label="issue created"></aui-toggle>
    </div>
    <div class="field-group">
        <label for="jira:issue_updated">Issue updated</label>
        <aui-toggle id="jira:issue_updated-{{rows}}" name="event-b-{{rows}}" value="jira:issue_updated" label="issue updated"></aui-toggle>
    </div>
    <div class="field-group">
        <label for="jira:issue_deleted">Issue deleted</label>
        <aui-toggle id="jira:issue_deleted-{{rows}}" name="event-c-{{rows}}" value="jira:issue_deleted" label="issue deleted"></aui-toggle>
    </div>
    <div class="field-group">
        <label for="comment_created">Comment created</label>
        <aui-toggle id="comment_created-{{rows}}" name="event-d-{{rows}}" value="comment_created" label="issue deleted"></aui-toggle>
    </div>
    <div class="field-group">
        <label for="comment_updated">Comment updated</label>
        <aui-toggle id="comment_updated-{{rows}}" name="event-e-{{rows}}" value="comment_updated" label="issue deleted"></aui-toggle>
    </div>
    <div class="field-group">
        <label for="comment_deleted">Comment deleted</label>
        <aui-toggle id="comment_deleted-{{rows}}" name="event-f-{{rows}}" value="comment_deleted" label="issue deleted"></aui-toggle>
    </div>
</div>
