<table class="aui">
    <thead>
    <tr>
        <th id="number">#</th>
        <th id="id">id</th>
        <th id="filter">JQL filter</th>
        <th id="events">Events</th>
        <th id="actions">Actions</th>
    </tr>
    </thead>
    <tbody>
    {{#each this}}
        <tr>
            <td headers="number">{{@index}}</td>
            <td headers="id">{{id}}</td>
            <td headers="filter">{{jqlFilter}}</td>
            <td headers="events">
                {{#each events}}
                    <span class="aui-lozenge aui-lozenge-default">{{this}}</span>
                {{/each}}
            </td>
            <td headers="actions">
                <button class="aui-button aui-button-default" webhook-id="{{id}}" id="delete-webhook-{{@index}}">Delete</button>
            </td>
        </tr>
    {{/each}}
    </tbody>
</table>